#cabecera{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    position:fixed;
    left: 0%;
    right: 0%;
    top: 0%;
}
.navegacion{
    margin-right: 10px;
}
#cuadro {
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 20%;
    height: 500px;
    width: 300px;

}
.cuadrado{
    width: 90;
    max-width: 600px;
    margin: 0 auto 0 auto;
}
#imagen{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#letra{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-size: helvetica;
    padding-top: -50px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#letra:hover{
    text-decoration: underline;
}